html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #eee;
}

main {
    width: 85%;
    margin: 30px auto;
    background-color: gainsboro;
    border-radius: 10px;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-size: 5em;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: -20px;
}

.quote {
    text-align: center;
    font-style: italic;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
}

#div1 {
    width: 100%;
    margin: 0 auto;
}

.image {
    height: 70%;
    border-radius: 3px;
    width: 80%;
    box-shadow: 5px 5px 5px grey;
}

#div2 {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 3em;
    font-weight: lighter;
}

.describe {
    margin-top: -20px;
}

#peoplethought {
    padding: 50px 0px 0px 300px;
    text-align: right;
    font-family: "Bitter", serif;
    font-size: 20px;
}

#quotedby {
    text-align: right;
    font-style: italic;
    padding-bottom: 20px;
}

#extLink {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 15px;
}

@media screen and (max-width: 728px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    #peoplethought {
        padding: 40px 0px 0px 0px;
    }
    #quotedby {
        padding-bottom: 40px;
    }
    #div2 {
        margin: 0 auto;
    }